<ion-content>
    <div class="ion-content">
        <ion-header>
            <ion-toolbar>
                <ion-buttons slot="start">
                    <ion-menu-button></ion-menu-button>
                </ion-buttons>
                <ion-img id="logo_header" src="../../assets/logo/BLAST_triangle_Primary_wh_Bigscale_RGB.png"></ion-img>
            </ion-toolbar>
        </ion-header>
        <div class="container">
            <div text-center class="title">
                <h1>EVENTS</h1>
            </div>
            <ion-searchbar [(ngModel)]="searchText"></ion-searchbar>
            <div *ngFor="let act of activities | filter : searchText">
                <div class="col-sm-3 ml-1 mr-1 mb-3">
                    <div class="card">
                        <img class="card-img-top" src="{{ act.icon }}">
                        <div class="card-body">
                            <h5 class="card-title">{{ act.title }}</h5>
                            <p class="card-text">{{ act.desc }}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="ion-footer">
            <ion-img class="logo_footer" src="../../assets/logo/BLAST_logo_Primary_wh_Bigscale_RGB.png"></ion-img>
            <ion-content #pageTop>
                <!-- Other content here -->
                ma bite
            </ion-content>
        </div>
    </div>
</ion-content>
