<ion-content>
    <div class="ion-content">
        <div class="ion-header">
            <ion-buttons slot="start">
                <ion-menu-button></ion-menu-button>
                <ion-img id="logo_header" src="../../assets/logo/BLAST_triangle_Primary_wh_Bigscale_RGB.png"></ion-img>
            </ion-buttons>
        </div>
        <div text-center class="title">
            <h1>EVENTS</h1>
        </div>
        <ion-content padding>
            <ion-card class="infos-card">
                <ion-img src="/assets/icon/burger_icon.PNG"></ion-img>
                <ion-card-header>
                    <ion-card-title>Foodtrucks</ion-card-title>
                </ion-card-header>
                <ion-card-content>
                    <p>BURGER, FRIES, HOT DOGS, DRINKS...</p>
                </ion-card-content>
            </ion-card>
            <ion-card class="infos-card">
                <ion-img src="/assets/icon/vr_icon.PNG"></ion-img>
                <ion-card-header>
                    <ion-card-title>VR_Games</ion-card-title>
                </ion-card-header>
                <ion-card-content>
                    <p>TRY CS:GO IN VR</p>
                </ion-card-content>
            </ion-card>
        </ion-content>
    </div>
</ion-content>
