<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-img id="logo_header" src="../../assets/logo/BLAST_triangle_Primary_wh_Bigscale_RGB.png"></ion-img>
        <ion-img routerLink="/account" id="account logo_header_right" class="settings"
                 src="../../assets/icon/settings.svg" *ngIf="isLogged"></ion-img>
    </ion-toolbar>
</ion-header>
<ion-content padding>
    <div text-center class="title">
        <h1>INFORMATIONS</h1>
    </div>
    <div #Map class="map"></div>
    <ion-grid>
        <ion-row>
            <ion-col>
                <div>
                    <ion-icon name="pin"></ion-icon>
                    <br>
                    Avda. de Concha Espina 1,
                    28036; Madrid - España
                </div>
            </ion-col>
            <ion-col>
                <div>
                    <ion-icon name="mail"></ion-icon>
                    <br>
                    contact@blast.com
                    +34 91 398 43 00
                </div>
            </ion-col>
        </ion-row>
    </ion-grid>
    <ion-button href="https://moovitapp.com/?to=2%20Rue%20Le%20Corbusier&tll=43.52327_5.43221&metroId=1562&lang=fr">Mooveit</ion-button>
    <div class="ion-footer">
        <ion-img class="logo_footer" src="../../assets/logo/BLAST_logo_Primary_wh_Bigscale_RGB.png"></ion-img>
    </div>
</ion-content>
