.ion-header {
  height: 50px;
  padding: 25px 0 25px 15px;
}

#logo_header {
  height: 70%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 25%;
  right: 25%;
  margin: auto;
}
.settings {
  width: 10%;
  margin-left: 80%;
}


.title {
  padding-top: 10%;
}

.title {
  margin-right: 10px;
}

ion-app {
  background-image: url('../../assets/background/fond_seul.png');
  background-repeat: repeat;
  background-size: 100% 100%;
  height: 100%;

  * {
    color: white;
  }
}

.map {
  height: 25%;
  width: 100%;
}

ion-icon {
  height: 40px;
  width: 81%;
}

ion-grid {
  padding: 50px 0 15px 0;
}

ion-button {
  --background: #c13478;
  margin: 5px 0 40px 35%;
}
