.welcome-card ion-img {
  max-height: 35vh;
  overflow: hidden;
}

ion-card {
  background-color: #705198;
}

.ion-header {
  height: 50px;
  padding: 25px 0 25px 15px;
}

#logo_header {
  height: 70%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 25%;
  right: 25%;
  margin: auto;
}

.settings {
  width: 10%;
  margin-left: 80%;
}


.title {
  padding-top: 10%;
}

.title {
  margin-right: 10px;
}


.card {
  background-color: #705198;
  color: white;
  width: 65%;
  margin-left: 15%;
}


ion-app {
  background-image: url('../../assets/background/fond_seul.png');
  background-repeat: repeat;
  background-size: 100% 100%;
  height: 100%;

  * {
    color: white;
  }
}

ion-searchbar {
  --background: #705198;
  --placeholder-color: white;
  --icon-color: white;
  opacity: 0.5;
}

ion-searchbar:focus {
  opacity: 1;
}

.country {
  .card-img-bot {
    //box-shadow: 0px 0px 50px #575757, 0 1px 50px #575757;
    -webkit-box-shadow: 10px -11px 47px -2px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 10px -11px 47px -2px rgba(0, 0, 0, 0.75);
    box-shadow: 10px -11px 47px -2px rgba(0, 0, 0, 0.75);
    width: 15%;
  }

  img {
    height: 100%;
    width: auto;
  }
}


